#bio {
  font-family: 'Montserrat', 'Rubik', sans-serif;
  margin-top: 20vmin;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 50vmin;
  font-size: 3vmin;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "bioPic bioInfo bioInfo";
}

#bio > #bioPic {
  grid-area: bioPic;
  place-self: center;
}

#bioPicCrop {
  width: 10em;
  height: 10em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#bioPicCrop > img {
  width: 10em;
  height: 10em;
}

#bio > #bioInfo {
  grid-area: bioInfo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vmin;
}

bioFooter {
  font-family: 'Montserrat', 'Rubik', sans-serif;
  font-size: 2vmin;
  position: absolute;
  margin-top: 50vmin;
  text-align: center;
  width: 99%;
  color: #C0C0C0;
}

@media screen and (max-width: 1140px) { 
  #bio {
    margin-top: 30vmin;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "bioPic"
      "bioInfo"
      "bioInfo";
  }

  bioFooter {
    margin-top: 100vmin;
  }
}

@media screen and (max-width: 600px) { 
  #bio {
    margin-top: 30vmin;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "bioPic"
      "bioInfo"
      "bioInfo";
  }

  bioFooter {
    margin-top: 100vmin;
  }
}
