#contactBackground {
  background-image: url(./images/shrubs_w_feet_1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0.3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  margin: 0;
  padding: 0;
}

#contact > #email {
  grid-area: email;
  place-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#contact > #email > p {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#contact > #email > a {
  color: inherit;
}

#contact > #email > a > i {
  font-size: 15vmin;  
}

#contact > #email > a > i:hover {
  opacity: 0.7;
}

#contact > #sm1 {
  grid-area: sm1;
  place-self: center;
}

#contact > #sm1 > a {
  color: inherit;
}

#contact > #sm1 > a > i {
  font-size: 15vmin;  
}

#contact > #sm1 > a > i:hover {
  color: #0e76a8;
}

#contact > #sm2 {
  grid-area: sm2;
  place-self: center;
}

#contact > #sm2 > a {
  color: inherit;
}

#contact > #sm2 > a > i:hover {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#contact > #sm2 > a > i {
  font-size: 15vmin;
}

#contact > #sm3 {
  grid-area: sm3;
  place-self: center;
}

#contact > #sm3 > a {
  color: inherit;
}

#contact > #sm3 > a > i {
  font-size: 15vmin;
}

#contact > #sm3 > a > i:hover {
  color: #053eff;
}

#contact > #sm4 {
  grid-area: sm4;
  place-self: center;
}

#contact > #sm4 > a {
  color: inherit;
}

#contact > #sm4 > a > i {
  font-size: 15vmin;  
}

#contact > #sm4 > a > i:hover {
  color: #ea4c89;
}

#contact {
  font-family: 'Rubik', sans-serif;
  margin-top: 30vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 50vh;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "email email . sm1 sm2"
    "email email . sm3 sm4";
}

@media screen and (max-width: 1140px) { 
  #contact {
    grid-gap: 100px;
    margin-left: 28vw;
    margin-right: 28vw;  
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "email email email"
      "email email email"
      "sm1 . sm2"
      "sm3 . sm4";
  }

  #contact > #email {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) { 
  #contact {
    grid-gap: 50px;
    margin-left: 33vw;
    margin-right: 33vw;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "email email"
      "email email"
      ". ."
      "sm1 sm2"
      "sm3 sm4";
  }

  #contact > #email {
    flex-direction: column;
  }
}
