#work {
  font-family: 'Montserrat', 'Rubik', sans-serif;
  margin-top: 30vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 30vh;
  font-size: 3vmin;

  display: grid;
  grid-gap: 10vmin 2vmin;
  grid-template-columns: repeat(4, 1fr);
}

.workBlock {
  display: flex;
  flex-direction: column;
  place-self: center;
}

.workImg {
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  place-self: center;
}

.workTxt {
  margin-top: 5px;
  text-align: center;
  color: #C0C0C0
}

@media screen and (max-width: 1140px) {
  #work {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #work {
    grid-template-columns: repeat(2, 1fr);
  } 
}
