#fullDisplay {
  display: flex;
  flex-direction: row;
}

#fullDisplay > i {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 10vmin;
  height: 15vmin;
  margin-top: 0 auto;
  margin-left: 5vmin;
  margin-right: 5vmin;
  opacity: 0.4;
}

#fullDisplay > i:hover {
  opacity: 0.7;
}

#fullDisplay > img {
  display: block;
  width: 50vw;
  height: auto;
  margin-top: 25vmin;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vmin;
  cursor: pointer;
}

#work {
  font-family: 'Montserrat', 'Rubik', sans-serif;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 30vmin;
  font-size: 3vmin;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workBlock {
  display: flex;
  flex-direction: column;
  place-self: center;
  margin-left: 5vmin;
  margin-right: 5vmin;
  margin-bottom: 5vmin;
}

.workImg {
  width: 30vmin;
  height: 30vmin;
  object-fit: cover;
  place-self: center;
  cursor: pointer;
}

.workImg:hover {
  transition: box-shadow 0.3s ease-in-out;
  -webkit-filter: drop-shadow(5px 5px 5px #C0C0C0);
  filter: drop-shadow(5px 5px 5px #C0C0C0);
}

.workTxt {
  width: 30vmin;
  margin-top: 5px;
  text-align: center;
  color: #C0C0C0
}

workFooter {
  font-family: 'Montserrat', 'Rubik', sans-serif;
  font-size: 2vmin;
  position: absolute;
  text-align: center;
  width: 99%;
  color: #C0C0C0;
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 600px) {
  #work {
    justify-content: center;
  }
}
